// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hero-header {
    position: relative;
    padding: 100px 0;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); // Darkens the background image
      z-index: 1;
    }
  
    .container {
      position: relative;
      z-index: 2;
    }
  
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
  }

  // List Cards Styling
.list-card {
    transition: all 0.3s ease;
    
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
    }
  }
  
  .list-movies {
    display: flex;
    gap: 0.5rem;
    
    .list-movie-thumb {
      width: 80px;
      height: 120px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
    